body {
    font-family: Arial, sans-serif;
}

header nav button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header nav button:hover {
    background-color: #0056b3;
}

.profile {
    text-align: center;
    margin-top: 20px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.description {
    margin-top: 20px;
    text-align: center;
}

